@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #5c4545;
    font-size: 1.1rem;
    font-family: Arial, sans-serif;
    min-height: 290px;

  }
  

  .text-orange-500 {
    color: #fd944e;
  }

  .text-orange-500:hover {
    color: #fc771f;
  }
  
  .font-bold {
    font-weight: bold;
  }
  


  a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Herda a cor de texto do elemento pai */
  }

/* Aplica cor verde a qualquer texto com a classe display-name */
.user-name {
  color: green;
}

