@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
  }

  .text-orange-500 {
    color: #fd944e;
  }

  .text-orange-500:hover {
    color: #fc771f;
  }
  

  a {
    text-decoration: none; /* Remove o sublinhado */
  }


